---
// src/pages/portfolio/[slug].astro
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import { projectsData } from '../data/ProjectsData';

// 1. Get the project slug from the URL params
const { slug } = Astro.params;

// 2. Find the project data that matches the slug
const project = projectsData.find((project) => project.slug === slug);

// 3. Redirect to 404 if project not found (optional, but good practice)
if (!project) {
  return Astro.redirect('/404', 404); // Assuming you have a 404 page, or just use '/' to redirect to homepage
}

export async function getStaticPaths() {
  return projectsData.map(project => ({
    params: { slug: project.slug }
  }));
}

const pageTitle = `${project.title} - Usrarama | Graphic Designer`;
const pageDescription = project.description; // Or a more detailed project description if you have one
---

<Layout title={pageTitle} description={pageDescription}>
  <Navigation currentPage="portfolio" />

  <main class="bg-gray-50 py-20">
    <div class="container mx-auto px-8">
      <article class="bg-white rounded-lg shadow-md overflow-hidden">
        <img
          src={project.imageBanner}
          alt={project.imageAlt}
          class="w-full h-auto block rounded-t-lg"
        />
        <div class="p-8">
          <h1 class="text-3xl font-bold mb-4">{project.title}</h1>
          <div class="mb-4">
            <ul class="flex flex-wrap space-x-2">
              {project.categories.map((category) => (
                <li>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">{category}</span>
                </li>
              ))}
            </ul>
          </div>
          <p class="text-gray-700 text-lg mb-6">{project.description}</p> {/* Added mb-6 for spacing */}
          <img
          src={project.imageBanner2}
          class="w-full h-auto block rounded-t-lg"
          loading="lazy"
          />
          <img
          src={project.imageBanner3}
          class="w-full h-auto block rounded-t-lg"
          loading="lazy"
          />
          <img
          src={project.imageBanner4}
          class="w-full h-auto block rounded-t-lg"
          loading="lazy"
          />

          {/* You can add more project details here: full description, case study, etc. */}
        </div>
      </article>
    </div>
  </main>

</Layout>