---
 import { projectsData } from '../data/ProjectsData';
 ---

 <section id="all-projects" class="py-20 bg-gray-50">
  <div class="container mx-auto px-8">
   <h2 class="text-3xl font-bold text-center mb-12">All Projects</h2>
   <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6 md:gap-8 lg:gap-10" id="all-projects-grid">
    {projectsData.map((project) => (
     <article
      class="featured-work-item bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300 border border-purple-200">
      <div class="project-image-container relative">
       <a href={`/${project.slug}`}>
        <img
         src={project.imageSrc}
         alt={project.imageAlt}
         loading="lazy"
         class="w-full h-auto sm:h-96 object-cover block rounded-t-lg"
        />
       </a>
       <div class="project-overlay absolute inset-0 bg-gradient-to-t from-black to-transparent rounded-t-lg"></div>
       <div class="project-text absolute bottom-0 left-0 p-6 text-white">
        <h3 class="text-3xl font-semibold">{project.title}</h3>
        <a href={`/${project.slug}`} class="inline-block mt-3 hover:text-burple-200 font-semibold transition-colors duration-200"
         > View Project <span class="arrow-icon">→</span></a>
       </div>
      </div>
     </article>
    ))}
   </div>
  </div>
 </section>

 <style>
  .arrow-icon {
   display: inline-block;
   transition: transform 0.2s ease-in-out;
  }

  .featured-work-item a:hover .arrow-icon {
   transform: translateX(4px); /* Animate arrow on link hover */
  }

  .project-image-container {
   position: relative; /* To contain absolute positioned elements */
  }

  .project-overlay {
   pointer-events: none; /* Make sure the overlay doesn't block clicks */
  }

  .project-text {
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 1.5rem; /* Equivalent to p-6 */
   color: white; /* Ensure text is white for visibility on gradient */
  }
 </style>